header{

    border-bottom: 2px solid rgb(255, 255, 255, 0.3);
    background-color: #2050d3;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 6px;

}
header nav{

    display: grid;
    grid-template-columns: 30% 1fr 30%;
    font-family: DM Sans, Arial;
    color: white;   
   
}
nav a{

    text-decoration: none;
    color: white;
}
.left-section{

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 26px;
    cursor: pointer;

}

.middle-section{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.accueil,
.service,
.contact{

    padding: 18px 10px;
    border-radius: 12px;
    transition: background-color 0.2s, transform 0.3s;
}
.accueil:hover,
.service:hover,
.contact:hover, 
.sign-in:hover{

    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-1px);
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.right-section{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.sign-Up{

    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 24px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.06);
    font-weight: 500;
    transition: background-color 0.2s, transform 0.3s;
}
.sign-Up:hover{

    background-color: rgba(255, 255, 255, 0.1);
    transform: translateY(-1px);
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.sign-in{

    padding: 10px 24px;
    transition: background-color 0.2s, transform 0.3s;
    border-radius: 6px;
}
