.Last-section{

    margin-top: 50px;
    padding: 20px;
}

.call-to-action{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call-to-action h1{

    color: #14358A;
    font-size: 46px;
    text-align: center;
}

.call-to-action p{

    width: 80%;
    margin: 0;
    text-align: center;
    color: #68718B;
}

.call-action-buttons{

    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.services-button{

    background: linear-gradient(135deg, #AC60E5, #0C87F0);
    color: white;
    padding: 20px;
    width: 160px;
    border-radius: 10px;
    border: 1px solid #6A36FF;
    font-size: 20px;
    font-weight: 600;
    transition: transform 0.3s;
}
.contact-button{

    color: #AC60E5;
    padding: 20px;
    width: 160px;
    border-radius: 10px;
    border: 1px solid #AC60E5;
    font-size: 20px;
    font-weight: 600;
    transition: transform 0.3s;
}